/* REDEFINE DEFAULT */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "regular", sans-serif;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: normal;
  text-align: left;
  text-decoration: none;
  text-decoration-color: inherit;
  text-rendering: optimizeLegibility;
  /* background: none; */
  background-color: inherit;
  color: inherit;
  font-kerning: normal;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "regular";
  src: url("dom/DiaRegular.woff") format("woff");
  font-display: swap;
}

/* @font-face {
  font-family: "Bold";
  src: url("dom/DiaBold.woff");
  font-display: swap;
} */

@keyframes blinker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* DISPLAY STYLE */

#a1,
#a2,
#a3,
#b1,
#b2,
footer,
main,
#content,
#quotes,
#error,
#easterEgg div,
#aboutMe,
.column {
  display: flex;
}

header {
  display: grid;
}

#easterEgg,
#defaultTitle {
  display: none;
}

li,
ul,
ol,
p {
  /* remove this display on large screens 1600px*/
  display: inline-block;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* GRID AREA */

#a1 {
  grid-area: a1;
  hanging-punctuation: force-end;
}

#a2 {
  grid-area: a2;
  hanging-punctuation: force-end;
}

#a3 {
  grid-area: a3;
  hanging-punctuation: force-end;
}

#b1 {
  grid-area: b1;
  hanging-punctuation: first;
}

#b2 {
  grid-area: b2;
  hanging-punctuation: first;
}

header {
  grid-area: one;
}

footer {
  grid-area: two;
}

/* DEFAULT STYLING */
:root {
  cursor: url("dom/scrollCursor.cur") 8 8, auto;
  --thirty: 30px;
  --half: 50%;
  --full: 100%;
}

/* DEFAULT SELECTION */
::selection {
  background: #0000cc;
  color: #696969;
}

::-moz-selection {
  background: #0000cc;
  color: #696969;
}

/* scrollbar */
::-webkit-scrollbar-thumb {
  background: transparent;
}

#a1,
#a2,
#a3,
#b1,
#b2,
footer,
#content,
#aboutMe,
section {
  flex-direction: column;
  justify-content: space-between;
}

#content {
  overflow-x: auto;
  flex: 8;
  flex-direction: row;
  align-items: end;
  scroll-snap-type: x mandatory;
}

#aboutMe {
  height: var(--full);
  padding: 2px 1px 2px 0;
  transition: width 750ms cubic-bezier(1, 0, 0, 1);
  & p:first-of-type {
    text-indent: var(--thirty);
  }
}

#aboutMe p:only-of-type,
#aboutMe p + p,
.message h1 {
  padding-left: var(--thirty);
  hanging-punctuation: first;
}

#error {
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: inherit;
  font-size: medium;
  line-height: 1.5rem;
}

#quotes {
  writing-mode: vertical-rl;
  flex-direction: row;
  justify-content: end;
  height: var(--full);
  gap: 2px;
}

/* https://www.ascii-code.com */

.\35 \30 {
  height: var(--half); /* Height: 50% */
}

.\37 \35 {
  height: calc(var(--half) * 1.5); /* Height: 75% */
}

.column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: var(--full);
  aspect-ratio: 8 / 9; /* had some help here */
  flex-shrink: 0; /* had some help here */
  & video {
    height: 100.25%;
  }
}

.column * {
  width: var(--full);
  object-fit: cover;
  display: block;
}

.message {
  width: 40vw;
  max-width: 510px;
  margin: auto;
}

.tint {
  filter: brightness(1);
}

.saturate {
  filter: saturate(3);
}

a,
a:visited,
a:hover {
  font: inherit;
  color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: inherit;
  text-decoration-color: inherit;
  cursor: var(--pointer-cursor);
}

a,
span {
  animation: blinker 0.5s ease 0.3s 1 forwards;
}

body {
  height: 100vh;
  transition: background-color 0.1s ease, color 0.4s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

header {
  grid-template-areas: "a1 b1 a2 b2 a3";
  grid-template-columns: auto 1fr auto 1fr auto;
  flex: 2;
  gap: var(--thirty);
  padding: 2px 0;
  min-height: 100px;
}

footer {
  flex: 8;
  overflow-y: hidden;
  transition: margin-left 750ms cubic-bezier(1, 0, 0, 1);
  flex-direction: row;
}

h1,
li,
span,
p {
  font-size: 1rem;
  line-height: 1.1rem;
  font-family: inherit;
}

img,
video {
  height: var(--full); /* match .two’s height (which is 80% of parent) */
  width: auto; /* maintain aspect ratio */
  object-fit: contain; /*prevents distortion*/
  flex-shrink: 0;
  scroll-snap-align: start;
}

main {
  flex-direction: column;
  height: var(--full);
}

mark {
  /* font-family: "bold"; */
  text-decoration: underline;
  letter-spacing: -0.2px;
}

/* RESPONSIVE - HEIGHT SIZES */

@media (max-height: 375px) {
  #easterEgg {
    display: block;
  }

  header,
  footer {
    display: none;
  }
}

@media (max-height: 430px) {
  .column {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: initial;
    aspect-ratio: 32 / 9;
  }

  img[src$="jpg"],
  img[src$="png"],
  img[src$="gif"] {
    height: var(--full) !important;
  }
}

@media (min-height: 1000px) {
  footer {
    flex: auto;
  }
}

/* RESPONSIVE - WIDTH SIZES */

@media (max-width: 1200px) {
  #a3 {
    display: none;
  }
  #aboutMe p + p {
    padding-left: var(--thirty);
  }
}

@media (max-width: 900px) {
  header {
    grid-template-areas: "a1 b1 b2";
    grid-template-columns: auto 1fr 1fr;
  }

  #a2,
  #projectTitle {
    display: none;
  }

  #defaultTitle {
    display: inline;
  }

  #aboutMe p + p,
  #aboutMe p:only-of-type {
    padding-left: calc(var(--thirty) / 2); /* 15 */
  }
}

@media (max-width: 420px) {
  header {
    grid-template-areas: "a1 b1";
    grid-template-columns: auto 1fr;
  }

  #b2 {
    display: none;
  }

  #aboutMe p + p,
  #aboutMe p:only-of-type {
    padding-left: calc(var(--thirty) / 3); /* 10 */
  }
}
