/* REDEFINE DEFAULT */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Regular", sans-serif;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: normal;
  hanging-punctuation: first;
  text-align: left;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  background: none;
  color: inherit;
  font-kerning: normal;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Regular";
  src: url("dom/DiaRegular.woff");
  font-display: swap;
}

@keyframes blinkerA {
  50% {
    opacity: 0;
  }
}

@keyframes blinkerB {
  50% {
    opacity: 0;
  }
}

/* DISPLAY ELEMENTS */

#a1,
#a2,
#a3,
#b1,
#b2,
#two,
#error,
.column {
  display: flex;
}

#one {
  display: grid;
  grid-template-areas: "a1 b1 a2 b2 a3";
  grid-template-columns: auto 1fr auto 1fr auto;
}

/* .column {
  display: grid;
  grid: 50% 50% / auto;
} */

li,
ul,
ol {
  /* remove this display on large screens 1600px*/
  display: inline;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

#easterEgg {
  display: none;
}

/* GRID AREA */

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

#a1 {
  grid-area: a1;
}

#a2 {
  grid-area: a2;
}

#a3 {
  grid-area: a3;
}

#b1 {
  grid-area: b1;
  gap: 13px;
}

#b2 {
  grid-area: b2;
  gap: 13px;
}

div#one {
  grid-area: one;
}

div#two {
  grid-area: two;
}

main {
  display: grid;
  grid-template-areas: "one" "two";
  grid-template-rows: 1fr 88%;
  height: inherit;
}

/* DEFAULT STYLING */

#a1,
#a2,
#a3,
#b1,
#b2,
#two,
#easterEgg {
  padding: 0 15px;
  margin: 15px 0;
  flex-direction: column;
  justify-content: space-between;
}

#two {
  flex-flow: row;
  border: 1px solid cyan;
  height: 100%;
  gap: inherit;
  overflow-y: scroll;
  justify-content: unset;
  margin-top: 0;
  padding: 0;
  /* margin: 0;
  overflow-x: auto;
  overflow-y: unset;
  justify-content: initial; */
  /* background-color: #696969; */
}

div.column {
  /* flex-flow: column;
  height: inherit;
  gap: inherit; */
  border: 1px solid yellow;
  /* flex: none;
  width: 100%;
  max-width: 50%; */
  display: grid;
  grid-template-areas: "a" "b";
  grid-template-rows: 50% 50%;
  grid-template-columns: auto;
  flex: none;
}

.column img,
.column video {
  aspect-ratio: 16 / 9;
  border: 1px solid magenta;
}

#error {
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: inherit;
  font-size: medium;
  line-height: 1.5rem;
}

::selection {
  background: #0000cc;
  color: #696969;
}

::-moz-selection {
  background: #0000cc;
}

/* ::-webkit-scrollbar {
  height: 3px;
} */

::-webkit-scrollbar-thumb {
  background: transparent;
}

.tint {
  filter: brightness(0.95);
}

.blink {
  animation: blinker 1.5s linear infinite;
}

a,
a:visited,
a:hover {
  font: inherit;
  color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;
  cursor: pointer;
}

/* a:link,
div[id="c"] img,
video {
  animation: blinkerA 0.4s ease 0.1s 1 forwards;
} */

a:hover {
  animation: blinkerB 0.4s ease 0.1s 1 forwards;
}

body {
  height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
}

img,
video {
  max-height: 100%;
  max-width: 100%;
  /* object-fit: cover; */
  /* max-width: 100%; */
  /* opacity: 25%; */
  display: block;
}

/* RESPONSIVE - HEIGHT SIZES */

/* @media (min-height: 200px) {
  #two {
    gap: 1px;
  }
}

@media (min-height: 400px) {
  #two {
    gap: 2px;
  }
}

@media (min-height: 800px) {
  #two {
    gap: 3px;
  }
} */

@media (max-height: 300px) {
  #easterEgg {
    display: block;
  }

  #a1,
  #a2,
  #a3,
  #b1,
  #b2,
  #two {
    display: none;
  }
}

@media (max-height: 430px) {
  #two > div {
    grid: 100% 100% / auto auto;
  }
}

/* RESPONSIVE - WIDTH SIZES */

@media (max-width: 240px) {
  li,
  ul,
  ol {
    display: list-item;
  }
}

@media (max-width: 1200px) {
  #a3 {
    display: none;
  }
}

@media (max-width: 900px) {
  main {
    grid-template-areas: "a1 b1 b2" "c c c";
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  #a2 {
    display: none;
  }
}

@media (max-width: 500px) {
  main {
    grid-template-areas: "a1 b1" "c c";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  #b2 {
    display: none;
  }
}
